.navbar {
    border-bottom: 1px solid var(--color-primary);
    position: fixed;
    z-index: 9999;
    width: 100vw;
    transition: all .5s;

    &--scrolled {
        background-color: white;
    }

    &__link {

        &:visited, &:link {
            color: white;
        }

        &--scrolled {

            &:visited, &:link {
                color: var(--color-secondary);
            }
        }
    }

    &__image {
        transition: all 1s;

        &--scrolled {
            filter: invert(1);
        }
    }
}

// .nav-btn-wrapper {
//     top: 1rem;
//     right: 1rem;
//     z-index: 9999;
//     position: fixed;
// }

.nav-btn {
    height: 2px;
    width: 1.5rem;
    transition: inherit;

    &__checkbox {
        display: none;
    }

    &__button {
        height: 2rem;
        width: 2rem;
        // position: fixed;
        // top: 5px;
        // right: 5px;
        z-index: 9999;
        text-align: center;
        cursor: pointer;
        // transition: background-color .3s;
        border: 1px solid var(--color-primary);

        // &--scrolled {
        //     background-color: white;
        // }
    }

    &__background {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 999;
        transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
        backdrop-filter: blur(3px);
        opacity: 0;
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        background-color: white;
        border-left: 3px solid var(--color-primary);
        transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        // width: 100%;
    }

    // FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        opacity: 1;
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 50%;
    }

    // &__checkbox:checked &__text {
    //     opacity: 1;
    // }

    // &__text {
    //     opacity: 0;
    //     transition: all .5s;
    // }


    // HAMBURGER ICON/LINES
    &__icon {
        position: relative;
        margin-top: .9rem;
        transition: all .2s;

        &--scrolled {
            background-color: var(--color-secondary) !important;

            &::before, &::after {
                background-color: var(--color-secondary) !important;
            }
        }

        &,
        &::before,
        &::after {
            width: 1.25rem;
            height: 2px;
            background-color: white;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -7px; }
        &::after { top: 7px; }
    }

    &__button:hover &__icon::before {
        top: -9px;
    }

    &__button:hover &__icon::after {
        top: 9px;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent !important;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
        background-color: var(--color-secondary) !important;
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
        background-color: var(--color-secondary) !important;
    }
}