.footer {
    background-color: var(--color-primary);
    position: relative;
    // z-index: 9999;

    &__links {
        transition: all .2s;

        &:hover {
            color: white;
        }
    }
}