/* .section {
    padding: 10px;
} */
.section-header {
    margin: auto;
    padding: 10px;
}
/* .section h1 {
    display: inline;
    margin: auto;
} */

.container {
    display: grid;
}


#demo-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 700px;
}

/* #demo-text {
    display: inline;
} */

#about-grid {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 50% 50%;
}


#team-grid {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
}