// implement custom styling variables here
:root {
    --color-primary: #FFBFC4 ;
    --color-secondary: #E298A5;
    --background-color: #F0F0F0;
    --text-primary: #000000;
}

body {
    font-family: 'DM Sans';
    color: var(--text-primary);
    background-color: var(--background-color);
}