@tailwind base;
@tailwind components;
@tailwind utilities;

// implement custom styling variables here
:root {
    --color-primary: #FFBFC4 ;
    --color-secondary: #E298A5;
    --background-color: #F0F0F0;
    --text-primary: #000000;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans' !important;
    color: var(--text-primary);
    background-color: var(--background-color);
    margin: 0;
    box-sizing: border-box;
}

.app {
    position: relative;
}

.main {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

.main-button {
    font-family: inherit;
    border-radius: 5rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    cursor: pointer;
}

.hero-image {
    height: 100vh;
    width: 100vw;
}

.momo-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;

    &__image {
        width: 100%;
    }

    &__text {
        color: white;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__momo-text {
        position: relative;

        &::after {
            content: "peach";
            font-size: 10px;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);

            @media (min-width: 768px) {
                font-size: 1rem;
                top: 80%;
            }
        }
    }
}

.text-jp {
    font-family: 'Noto Serif JP';
}

.text-secondary {
    color: var(--color-secondary);
}

.error {
    height: 100vh;
    position: relative;

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__banner {
        width: 80vw;

        @media (min-width: 768px) {
            width: 65vw;
        }

        @media (min-width: 1200px) {
            width: 50vw;
        }
    }
}